.odd {
    background-color: pink;
    font-family: 'DejaVu Sans', sans-serif;
}
#second {
    color:blue;
    font-size:36px;

}
.adjustfont {
   font-size:24px; 
}
#fourth {
    background-color: lightgreen;
    font-weight: bold;
}