body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 500px;
  background: #fff;
  margin: 16px auto;
  padding: 8px
}

.title {
  background: #e3f4ff;
  margin-bottom:10px;
  padding: 10px;
  font-size:16px;
}

.content {
  background: #e3f4ff;
  margin-bottom: 10px;
  padding: 15px;
}

.button-container {
  background: #e3f4ff;
  text-align:center;
  padding: 10px;
}

button {
  background: white;
  border: 1px solid #eee;
  display:block;
  margin: 0 auto;
  padding: 5px 20px;
}